.container {
    max-width: 900px;
    height: 80px;
  
    overflow: hidden;
  
    display: flex;
  
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .container::-webkit-scrollbar { 
    display: none; /* Safari and Chrome */
  }
  
  .slides {
    display: flex;
    animation: 20s slide infinite linear;
    align-items: center;
  
  }
  
  .container:hover .slides {
    /* animation-play-state: paused; */
  }
  
  .item {
    width: 100px;
    padding: 0 10px;
    margin-right: 15px;
  }
  
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  